
@media screen  and (max-width: 990px) and (min-width: 780px ){
    #main-navbar > form{
        display: none;
    }

    #main-navbar{
        width: 90%;
        
    }
    #main-navbar > a{
        margin: 10px 0%;
    }
#div1-section1{
    display: flex;
    
}
#div2-section-1{
    padding-left: 60px;
    padding-right: 60px;
}

     #div2-section-1{
       padding: 100px 60px 140px;  
       display: flex;
       justify-content: center;
       text-align: center;
       width: 80%;
      
    } 
    #div-in-div2{
        width: 90%;
       justify-self: center;
    }
    #div-in-div2 > span{
        display: block;
        width: 120px;
        justify-self: center;
      
    }
    #div-in-div2 > h2{
        font-size: 36px;
        width: 100%;
        justify-self: center !important;
       
    }
    #div-in-div2 > p{
        width: 100%;
        justify-self: center;
    }
   
    #demo{
        display: block;

    }
    #demo > a{
        margin-bottom: 30px;
        display: inline-block;
    }

     #icon1{
        top: 75%;
        left: 50%;
     }
     #icon2{
        top: 75%;
        left: 57%;
     }
     
     #cards{
       justify-content: space-around;
     }
     .card{
        width: 35%;
        flex-wrap: wrap;
     }

     #about-list{
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #fff;

     }
     #list{
        width: 90%;
     

       
     }

     #about{
        width: 100%;
        background-color: #fff;
       

     }
     #about > div {
        width: 80%;
     }

     #about > div > button{
        background-color: #7a6ad3;
        color: #fff;
     }

     #cards-latest{
        grid-template-columns: repeat(2, 360px);
        grid-template-rows: repeat(3,380px );
     }

    .detail{
     width: 40%;
    }
    .detail > p{
        text-align: center;
    }

    #teachers{
        grid-template-columns: repeat(2,340px);
        grid-template-rows: repeat(2, 430px);
    }

    .teach > img{
        right: 18%;
    }

  #david{
    position: static;
    width: 100%;
    background-color: #fff;
    justify-content: center;
  }

  #colude-david{
    position: static;
    width: 75%;
    margin-bottom: 30px;
    
  }

  #testimonial{
    position: static;
    width: 75%;
    margin-top: 40px;

  }


  #schedule-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    
  }
  .schedule{
   display: flex;
   padding-right: 40px;
   width: 37%;
   height: 450px;
   align-content: end;
   justify-content: space-between;
  }

  .schedule-details{
     
    width: 30% !important;

  }
  .schedule .schedule-details:nth-child(3){
    width:40% !important ;
  }
   .schedule .schedule-details:nth-child(5){
    width: 23% !important;
   }
  .schedule > img {
    left: 12.5%;
    top: -5%;
    width: 251px;
   
  }


  .schedule .schedule-details:nth-child(2){
    display: block;
    width: 100% !important;
    border-bottom: 1px solid #808080;
    padding-bottom: 30px;
    margin-bottom: 30px;
   
    
}

.icon-schedule{
   right: 0%;
   top: 40%;
}
  
#contact-form{
position: static;
background-color: #fff;
width: 100%;
height: 170vh;
margin-top: 0%;
}
#contact{
    position: static !important;
    width: 80%;
    

}
#off{
    background-color: #f1f0fe;
}
#form-contact{
position: static;
width: 80%; 
width: 696px;
padding: 30px;
/

}
#form-contact > form > input[type="submit"]{
    width:187px !important;
}

footer{
    position: relative;
    display: flex;
     
}
footer > p {
    position: absolute;
    width: 100% !important;
   justify-self: center !important;
}
.icon-david{
    display: none;
}


}

@media screen and (max-width:780px) {

    #main-navbar{
        justify-content: space-between;
    }
    .link{
        display: none;

    }
    #bar-icon{
        display: block;
    }
    #h1-link{
        display: block !important;
    }

     #div2-section-1{
       display: flex;
       justify-content: center;
       text-align: center;
       width: 80%;
       margin-left: 0%;
       padding: 80px 20px 120px;
}


  #div-in-div2 > h2{
        font-size: 36px;
        width: 100%;
        justify-self: center !important;
       
    }
    #div-in-div2 > p{
        width: 100%;
        justify-self: center;
    }
   
    #demo{
        display: block;

    }
    #demo > a{
        margin-bottom: 30px;
        display: inline-block;
    }

     #icon1{
        top: 76%;
        left: 40%;
     }
     #icon2{
        top: 76%;
        left: 50%;
     }
    
      #div-in-div2{
        width: 100%;
       justify-self: center;
    }

     #cards{
       justify-content: space-around;
     }
     .card{
        width: 70%;
        flex-wrap: wrap;
     }
     .card-img{
        left: 75%;
        top: -35%;
       
     }

     #about-list{
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #fff;

     }
     #list{
        width: 80%;
     

       
     }

     #about{
        width: 80%;
        background-color: #fff;
      

     }
     #about > div {
        width: 90%;
        margin-left: 0%;
     }

     #about > div > button{
        background-color: #7a6ad3;
        color: #fff;
     }

       #cards-latest{
        grid-template-columns: repeat(1, 75%);
        grid-template-rows: repeat(4, );
     }
     .image-latest > img{
        width:100% ;
     }

    .detail{
     width: 40%;
    }
    .detail > p{
        text-align: center;
    }

     #teachers{
        grid-template-columns: repeat(1,500px);
        grid-template-rows: repeat(4, );
    }
   

    .teach > img{
        right: 27%;
    }

     .detail{
     width: 70%;
    }
    .detail > p{
        text-align: center;
    }

     #david{
    position: static;
    width: 100%;
    background-color: #fff;
    justify-content: center;
  }

  #colude-david{
    position: static;
    width: 75%;
    margin-bottom: 30px;
    padding: 40px 40px 60px;
  }

  #testimonial{
    position: static;
    width: 80%;
   
    margin-top: 40px;

  }


   #schedule-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    
  }
  .schedule{
   display: flex;
   padding-right: 40px;
   width: 80%;
   height: 553px;
   align-content: end;
   justify-content: space-between;
  }

  .schedule-details{
     
    width: 30% !important;

  }
  .schedule .schedule-details:nth-child(3){
    width:40% !important ;
  }
   .schedule .schedule-details:nth-child(5){
    width: 23% !important;
   }
  .schedule > img {
    left: 8%;
    top: -12%;
    width: 85%;
    height: 310px;
  }


  .schedule .schedule-details:nth-child(2){
    display: block;
    width: 100% !important;
    border-bottom: 1px solid #808080;
    padding-bottom: 30px;
    margin-bottom: 30px;
   
    
}

.icon-schedule{
   right: 0%;
   top: 40%;
}

#contact-form{
position: static;
background-color: #fff;
width: 100%;
height: auto;
margin-top: 0%;
margin-bottom: 50px;
}
#contact{
    position: static !important;
    width: 80%;
    

}
#off{
    background-color: #f1f0fe;
}
#form-contact{
position: static;
width: 80% !important; 
width: 696px;
padding: 30px;
/

}
#form-contact > form > input[type="submit"]{
    width:187px !important;
}

footer{
    position: relative;
    display: flex;
     
}
footer > p {
    position: absolute;
    width: 100% !important;
   justify-self: center !important;
}

.icon-david{
    display: none;
}

}

@media screen and (max-width:600px) {
     
  #div2-section-1{
    width: 95%;
  } 
  
    #icon1{
        top: 76%;
        left: 40%;
     }
     #icon2{
        top: 76%;
        left: 55%;
     }

       #cards{
       justify-content: left;
     }
     .card{
        width: 73%;
        flex-wrap: wrap;
       margin-left: 20px;
     }

       #list{
        width: 95%;
     

       
     }

     #about{
        width: 95%;
        background-color: #fff;
      

     }
     #latest-navbar{
        width: 450px ;
        padding-left: 0;
        padding-right: 0px;
        justify-content: space-around;
     }

       #cards-latest{
        grid-template-columns: repeat(1, 95%);
        grid-template-rows: repeat(4,470px );
     }

     .image-latest > img{
       
     }

          #teachers{
        grid-template-columns: repeat(1,95%);
        grid-template-rows: repeat(4, );
    }

     #colude-david{
    /* position: static; */
    width: 95%;
    height: 390px;
     margin-bottom: 30px;
    padding: 40px 40px 60px; 
  }

   #testimonial{
    position: static;
    width: 95%;
    margin-top: 40px;

  }


  #h6-section-4{
    padding-top: 80px;
  }

   .schedule{
   display: flex;
   padding-right: 40px;
   width: 95%;
   height: 553px;
   align-content: end;
   justify-content: space-between;
  }

   .schedule > img {
    height: 290px;
    top: -10%;
   }

   #contact{
    width: 95%;
   }

   #form-contact{
    width: 95%;
   }

   #contact-form{
    height: auto;
   }
}